<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="defaultBinding" maxBufferPoolSize="2147483647"
            maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
            <security mode="None" />
          </binding>
          <binding name="BasicHttpBinding_ILocalService" />
          <binding name="BasicHttpBinding_ISubdivisionService" />
          <binding name="BasicHttpBinding_ISubdivisionService1" />
          <binding name="BasicHttpBinding_ICountryService" />
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://localhost:60926/LocalService.svc" binding="basicHttpBinding"
                bindingConfiguration="defaultBinding" contract="LocationServiceRef.ILocalService"
                name="BasicHttpBinding_ILocalService" />
            <endpoint address="http://localhost:60926/UserService.svc" binding="basicHttpBinding"
                bindingConfiguration="defaultBinding" contract="UserServiceRef.IUsersService"
                name="BasicHttpBinding_IUsersService" />
            <endpoint address="http://localhost:60926/SubdivisionService.svc"
                binding="basicHttpBinding" bindingConfiguration="defaultBinding"
                contract="SubdivisionServiceRef.ISubdivisionService" name="BasicHttpBinding_ISubdivisionService" />
            <endpoint address="http://localhost:60926/CountryService.svc"
                binding="basicHttpBinding" bindingConfiguration="defaultBinding"
                contract="CountryServiceRef.ICountryService" name="BasicHttpBinding_ICountryService" />
        </client>
    </system.serviceModel>
</configuration>