<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ReferenceDataEntities" connectionString="metadata=res://*/Model.ReferenceDataModel.csdl|res://*/Model.ReferenceDataModel.ssdl|res://*/Model.ReferenceDataModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\Model\ReferenceData.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="defaultBinding" maxBufferPoolSize="2147483647"
                                maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                                <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
                                <security mode="None" />
                        </binding>
                        <binding name="BasicHttpBinding_ISubdivisionService" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:60926/SubdivisionService.svc"
                        binding="basicHttpBinding" bindingConfiguration="defaultBinding"
                        contract="SubdivisionServiceReference.ISubdivisionService"
                        name="BasicHttpBinding_ISubdivisionService" />
                <endpoint address="http://localhost:60926/CountryService.svc"
                        binding="basicHttpBinding" bindingConfiguration="defaultBinding"
                        contract="CountryServiceReference.ICountryService" name="BasicHttpBinding_ICountryService" />
                <endpoint address="http://localhost:60926/UserService.svc" binding="basicHttpBinding"
                        bindingConfiguration="defaultBinding" contract="UserServiceReference.IUsersService"
                        name="BasicHttpBinding_IUsersService" />
                <endpoint address="http://localhost:60926/LocalService.svc" binding="basicHttpBinding"
                        bindingConfiguration="defaultBinding" contract="LocationServiceReference.ILocalService"
                        name="BasicHttpBinding_ILocalService" />
        </client>
    </system.serviceModel>
</configuration>